$text: #333333;
$headings_color: #171922;
$border_color: #cccccc;
// $primary_color: #3b3486;
// $secondary_color: #7743db;
// $primary_color: #2b6777;
// $secondary_color: #52ab98;
$primary_color: #52ab98;
$secondary_color: #2b6777;
